# This is a sample code in jupyter notebook to clean data.

Import library

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

Load Data

In [2]:
salary2020 = pd.read_csv("player_data_salaries_2020.csv",encoding ="unicode_escape")

In [3]:
salary2020.head()

,Player Name,League,Squad,Country,Position,Annualized Salary
0,I. Winter,A,Fanatical Outlaws,Danan Seekeeling,DF,"¶ 25,480,000"
1,P. Nakubulwa,A,Fanatical Outlaws,Dosqaly,DF,"¶ 9,950,000"
2,M. Mahlangu,A,Fanatical Outlaws,Imaar Vircoand,DF,"¶ 26,500,000"
3,I. Huber,A,Fanatical Outlaws,Lenia Gerdanho,DF,"¶ 25,530,000"
4,A. Kobusingye,A,Fanatical Outlaws,People's Land of Maneau,DF,"¶ 9,510,000"

Clean Data

In [4]:
salary2020["Annualized Salary"] = salary2020["Annualized Salary"].str.replace("¶","")
salary2020["Annualized Salary"] = salary2020["Annualized Salary"].str.replace(",","")
salary2020["Annualized Salary"] = salary2020["Annualized Salary"].astype("float")

Inspect mean salary by position

In [5]:
salary2020_mean_position = salary2020["Annualized Salary"].groupby(salary2020["Position"]).mean()
salary2020_mean_position

Position
DF      1.555847e+07
DFFW    2.125923e+07
DFMF    1.653200e+07
FW      2.322566e+07
FWDF    2.371917e+07
FWMF    2.348311e+07
GK      1.415039e+07
MF      1.860210e+07
MFDF    1.803155e+07
MFFW    2.305344e+07
Name: Annualized Salary, dtype: float64

You may also install matplotlib to make plots.